// Buttons
//
// A majority of buttons in the site are built from the same base class.
//
// Markup: button.twig
//
// .primary   - Use this class to indicate that the button is the primary
//              feature of this form.
// .remove    - Use this class to indicate that the button will remove a
//              feature, or other negative connotations.
//
// Style guide: Components.buttons

.button {
  -webkit-appearance:none;
     -moz-appearance:none;
          appearance:none;

  padding:10px 20px;
  color:#fff;
  font-family:Helvetica, Arial, sans-serif;
  font-size:16px;
  font-weight:bold;
  text-transform:lowercase;
  text-decoration:none;

  cursor:pointer;

  border-radius:3px;
  background-color: #aaa;

  &.primary {
    background-color: #5c4;
  }

  &.remove {
    background-color: #c54;
  }
}
